
*.iml
.gradle
.idea
!.idea/icon.svg
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
axer-remote-debugger/debug/**
axer-remote-debugger/release/**
