<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name="io.github.orioneee.AxerActivity"
            android:launchMode="singleTask"
            android:label="Axer"
            android:taskAffinity="io.github.orioneee.axer"
            android:exported="true" />
    </application>

</manifest>